/docs/Gemfile.lock
/docs/_site
/deno
packages/*/node_modules
packages/*/temp
packages/*/dist-cg
packages/*/dist
packages/*/dist-deno
packages/*/dist-scripts
packages/*/dist-declarations
node_modules
*.js.map
npm-debug.log

#IDE
.idea

# Go Wasm Compiler Migration
/dist/
/go.work
/go.work.sum
/package-lock.json
/packages/common/lib/*.wasm
/packages/common/lib/*.inline.js
/packages/common/lib/wasm_exec.js
PLAN.md
pr_post.md
