/docs/Gemfile.lock
/docs/_site
deno/bootstrap/ts_morph_bootstrap.js
deno/bootstrap/ts_morph_bootstrap.d.ts
deno/common
deno/ts-morph/ts_morph.d.ts
deno/ts-morph/ts_morph.js
packages/*/node_modules
packages/*/temp
packages/*/dist-cg
packages/*/dist
packages/*/dist-deno
packages/*/dist-scripts
packages/*/dist-declarations
node_modules
*.js.map
npm-debug.log
yarn-error.log
/lerna-debug.log

#IDE
.idea
