/docs/Gemfile.lock
/docs/_site
package-lock.json
packages/*/node_modules
packages/*/temp
packages/*/dist-cg
packages/*/dist
packages/*/coverage
packages/*/dist-scripts
packages/*/dist-declarations
packages/*/.nyc_output
node_modules
*.js.map
npm-debug.log
yarn-error.log
/lerna-debug.log
