# force lf newlines
* text=auto eol=lf

*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf

*.jpg binary
*.png binary

# exclude deno.land build files from GitHub language stats
deno/* linguist-vendored
deno/ts_morph.js linguist-vendored
deno/common/ts_morph_common.js linguist-vendored
deno/common/typescript.js linguist-vendored
deno/common/data/libFiles.js linguist-vendored
deno/bootstrap/ts_morph_bootstrap.js linguist-vendored
