/.vs
/.github
/node_modules
/coverage
/.vscode
/scripts
/dist-scripts
/dist/tests
/src
/docs
*.js.map
/obj
/temp
/bin
/lib
/.nyc_output
azure-pipelines.yml
mocha.opts
*.suo
*.csproj
*.csproj.user
*.sln
.editorconfig
.travis.yml
.npmignore
breaking-changes.md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
dprint.config.js
rollup.config.js
gulpfile.js
tsconfig.json
tsconfig.*.json
wrapped-nodes.md
yarn-error.log
# do not include lock files in order to not restrict the typescript version
yarn.lock
package-lock.json
