/.vs
/.github
/node_modules
/coverage
/.vscode
/scripts
/dist-scripts
/dist/tests
/src
/docs
*.js.map
/obj
/temp
/bin
/lib
/.nyc_output
mocha.opts
*.suo
*.csproj
*.csproj.user
*.sln
.travis.yml
.npmignore
breaking-changes.md
CHANGELOG.md
gulpfile.js
tsconfig.json
tsconfig.*.json
tslint.json
wrapped-nodes.md
