---
---

/* For some reason @import statements weren't working. I didn't want to spend time diagnosing the problem so I have everything in one file for now... */

$primary-color: #292b2c;

body {
    overflow-y: scroll;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    @media (min-width: 1200px) {
        width: 1200px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

aside.warning {
    border: 1px dashed #bd4147;
    padding: 10px;
}

nav {
    padding-top: 10px;
    line-height: 1.4rem;
    color: lighten($primary-color, 30%);

    ul {
        list-style-type: none;

        ul {
            padding-left: 20px;
            margin-top: 0px;
            padding-bottom: 5px;
            ul {
                margin-top: 0px;
            }
            li {
                margin-bottom: 2px;
            }
        }

        li {
            > a {
                color: lighten($primary-color, 30%);
                &:hover {
                    text-decoration: none;
                }
            }

            &.active > a {
                color: #2266cc;
            }
        }
    }

    .nav-link {
        padding: 0.3rem 0.5rem;
    }
}

header {
    padding-top: 2rem;
    padding-bottom: 0.5rem;

    h1, p {
        display: inline-block;
    }
    h1 {
        padding-left: 15px;
        padding-right: 10px;
    }
    .subText {
        color: rgba(0,0,0,0.8);
        font-size: 0.9rem;
    }
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    &:not(:first-child) {
        margin-top: 1rem;
    }
}

h3 {
    padding-top: 1rem;
    margin-bottom: .7rem;
    color: #559955;
}

h4 {
    color: #555;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

pre.highlight {
    padding: 8px 15px;
    background: #333;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    overflow: auto;
    overflow-y: hidden;
}

code {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace !important;
}

.headerLink {
    cursor: pointer;
}

/** Start Rouge Theme */

/*
   generated by rouge http://rouge.jneen.net/
   original base16 by Chris Kempson (https://github.com/chriskempson/base16)
*/

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
}
.highlight .err {
  color: inherit;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #d28445;
}
.highlight .kd {
  color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .sr {
  color: #75b5aa;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #8f5536;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}

/** End Rouge Theme */
