name: CI

on: [push, pull_request]

jobs:
  build:
    name: test ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        check-latest: true
    - uses: bvm/gh-action@v1.1.0
    - name: Build
      run: |
        npm ci
        npm run bootstrap
        npm run build
        npx lerna run ensure-no-project-compile-errors
    - name: Test
      run: |
        npx lerna run test:ci
        npx lerna run test:ts-versions
    - name: Deno Test
      run: deno test --allow-read deno
    - name: Code Verification
      run: |
        npx lerna run code-verification
